@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------------------------------- General rules */

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1, h2,
h4, h5, h6 {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 30px;
}

hr {
    visibility: hidden;
}

/*----------------------------------- Navbar */

header {
    position: fixed;
    width: 100%;
    z-index: +1;
}

.navbar {
    font-family: "Comfortaa", sans-serif;
    background: rgba(199, 199, 245, 0.9);
    border-radius: .25rem;
}

.navbar-nav {
    margin: auto;
    margin-right: 0px;
}

/*----------------------------------- Alert-bar */

.alert {
    margin-bottom: 0;
    background: rgb(199, 199, 245);
}

/*----------------------------------- Home */

.hero-image {
    height: 800px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    background: url("../images/hero-image.JPG")no-repeat top center;
    background-size: cover;
    padding: 0;

}

.cover-text {
    color: #fff;
    width: 400px;
    float: right;
    margin-top: 500px;
    padding: 20px;
}

.introduction {
    text-align: center;
}

/*----------------------------------- About */

.about {
    background: rgb(199, 199, 245);
}

.col {
    padding: 40px;
} 

/*----------------------------------- Photographs */

.img-fluid {
    border-radius: 1.5rem;
    margin-bottom: 20px;
}

.img-hover:hover { 
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.photo {
    padding: 15px;
}

.photo2 {
    display: inline-block;
}

/*----------------------------------- Purchase */

.purchase {
    background-color: rgb(199, 199, 245);
}

.custom-select{
    border-radius: 1rem;
}

.form {
    padding-top: 50px;
}

.form, input {
    border-radius: .25rem;
    width: 100%;
}

.selection {
    padding-top: 0px;
    padding-bottom: 0px;
}

.button {
    width: 60%;
    height: 40px;
    border-radius: 2rem;
    background-color: rgb(199, 199, 245);
    border: 2px solid rgb(131, 131, 246);
    font-family: "Comfortaa", sans-serif;
}

.button:hover {
    background-color: rgb(131, 131, 246);
    color: #fff;
}

.privacy {
    color: #000;
    text-transform: uppercase;
}

.privacy:hover {
    font-size: 20px;
    cursor: pointer;
    color: rgb(131, 131, 246);
}

/*----------------------------------- Privacy page */

.privacy-policy {
    text-align: left;
    padding-top: 60px;
}

/*----------------------------------- Contact section */

.insta {
    border: 1px solid #000;

}

.insta:hover {
    opacity: 0.8;
}

/*----------------------------------- Footer */

.footer {
    background-color: rgb(199, 199, 245);
}

.copyright{
    font-family: "Comfortaa", sans-serif;
    padding-top: 0;
}

.social-media i{
    font-size: 50px;
    color: rgb(131, 131, 246);
    padding: 10px;
}

.social-media i:hover {
    color: #000;
    transition: all .35s ease-in-out;
}

.privacy-policy {
    text-align: left;
    padding-top: 60px;
}