@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------------------------------- General rules */

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Comfortaa", sans-serif;
}

/*----------------------------------- Navbar */

header {
    position: fixed;
    width: 100%;
}

.navbar {
    font-family: "Comfortaa", sans-serif;
    background: rgba(199, 199, 245, 0.8);
    border-radius: .25rem;
}

.navbar-nav {
    text-align: center;
    margin: auto;
    margin-right: 0px;
}

/*----------------------------------- Alert-bar */

.alert {
    margin-bottom: 0;
    text-align: center;
    background: rgb(199, 199, 245);
}

/*----------------------------------- Home */

.hero-image {
    height: 800px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    background: url("../images/hero-image.JPG");
    background-size: cover;

}

.cover-text {
    color: #fff;
    width: 400px;
    float: right;
    margin-top: 550px;
    margin-right: 20px;
    text-align: center;
}

.introduction {
    text-align: center;
}

/*----------------------------------- About */

.about {
    background: rgb(199, 199, 245);
}

.about-photo {
    background: url("../images/lonneke.JPG")no-repeat center center; 
    background-size: cover;
    border: 15px solid rgb(199, 199, 245);
    border-radius: 5rem;
}  

.equipment-photo {
    background: url("../images/camera.JPG")no-repeat center center;
    background-size: cover;
    border: 15px solid rgb(199, 199, 245);
    border-radius: 5rem;
}

.col {
    position: static;
    padding: 40px;
    height: 500px;
} 

/*----------------------------------- Photographs */


















.space {
    height: 500px;
}