@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------------------------------- General rules */

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1, h2,
h4, h5, h6 {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 30px;
}

/*----------------------------------- Navbar */

header {
    position: fixed;
    width: 100%;
}

.navbar {
    font-family: "Comfortaa", sans-serif;
    background: rgba(199, 199, 245, 0.8);
    border-radius: .25rem;
}

.navbar-nav {
    margin: auto;
    margin-right: 0px;
}

/*----------------------------------- Alert-bar */

.alert {
    margin-bottom: 0;
    background: rgb(199, 199, 245);
}

/*----------------------------------- Home */

.hero-image {
    height: 800px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    background: url("../images/hero-image.JPG")no-repeat top center;
    background-size: cover;

}

.cover-text {
    color: #fff;
    width: 400px;
    float: right;
    margin-top: 550px;
    margin-right: 20px;
}

.introduction {
    text-align: center;
}

/*----------------------------------- About */

.about {
    background: rgb(199, 199, 245);
}

.col {
    position: static;
    padding: 50px;
} 

/*----------------------------------- Photographs */

.photo {
    position: static;
}

.img-fluid {
    border-radius: 1.5rem;
    margin-bottom: 20px;
}

.img-hover:hover { 
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/*--Modal*/

.img-responsive {
    border-radius: 0;
}